.header {
display: flex;
justify-content: center;
align-items: center;
height: 60px;
margin-left: auto;
margin-right: auto;
background-color: #3469fc;
}
.container {
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}

.button {
   margin-left: 20px;    
}

img {
   display: block;
   width: auto;
   height: 180px;
}
.box {
display: flex;
   align-items: center;
   padding-left: 15px;
   padding-right: 15px;
   margin-right: auto;
   margin-left: auto;
   
}
.gallery {
// width: 1170px;
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   justify-content: space-between;
//   margin: -15px;
   
}

.photo-card {
  

 
flex-basis: calc((100% - 120px) / 4)

}
a {
text-decoration: none;
}
.info {
   display: flex;
   color: gray;
   font-size: 14px;
   line-height: 1.5

}